html{
    scroll-behavior: smooth;
}
#navbar{
    position: relative;
    display: flexbox;
    justify-content:center;
    text-align: right;
    margin-right: 100px;
    margin-top: -80px;
    height: 100px;
    
}

#header{
    position: fixed;
    width: 100%;
    margin-top: -40px;
}

#logo{
    margin-left: 60px;
}

body{
    background-color: black;
    color: white;
}

#flexbox{
    display: flex;
}

#main1{
    flex:1;                                                  /*dekhna hai ki kaise work karta hai*/
    height: 100px;
    margin-left: 70px;
    font-family: sans-serif;
    font-style: bold;
    font-size: 25px;
    margin-top: 325px;
}

#main1 p{
    font-size: 13px;
    letter-spacing: 1px;
    text-align: left;
    margin-right: 20px;
    color: gray;

}

.button{
    height: 50px;
    width: 140px;
    padding: 20px 20px 20px 20px;
    font-family: sans-serif;
    background-color: black;
    color: white;
    border: 1px solid;
    border-color: grey;
    vertical-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.button:hover{
   background-color: grey
}

#main2 img{
    margin-top: 0px;
}

#main2{
    flex:1;


}

a{
    text-decoration: none;
    color: white;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    font-family: sans-serif
}



a:hover{
    font-size: 20px;
}

/*Experience wala part*/


#exphead{
    font-family: sans-serif;
    font-style: bold;
    font-size: 50px;
    margin-left: 70px;
}

.experience{

    display: flex;
    
}

.exp1{
    flex: 1;
    height: 100px;


}

.image{
    margin-left: 25px;
    border: 10px solid;
    border-color: grey;
}

.exp2{
    flex: 1;
    height: 300px;
    font-family: sans-serif;
    margin-left: 30px;

}

.andarwaladiv{
    margin-top: 100px;
}

.para{
    color: grey;
}



/*2nd block in experience*/

.experience1{
    margin-top: 60px;
    display: flex;
    
}

.exp3{
    font-family: sans-serif;
    flex: 1;
    height: 300px;
    text-align: right;

}

.exp4{
    flex: 1;
    height:300px;
    margin-left: 30px;
}

.image1{
    border: 10px solid;
    border-color: grey;
    margin-right: 30PX;
}


/*education*/


#education{
    margin-top: 100px;
}

#eduhead{
    font-family: sans-serif;
    font-style: bold;
    font-size: 50px;
    margin-left: 70px;
}

/*footer*/


#footer{
    display: flex;
    margin-top: 200px;
    background-color: rgb(62, 62, 62);
    font-family: sans-serif;

}

.foot1{
    flex: 1;
    height: 100px;
    margin: 40px 40px 40px 40px;
    font-size: 15px;
    margin-top: 10px;

}
.foot2{
    flex: 1;
    height: 100px;
    margin: 30px 30px 30px 30px;
    text-align: center;
    
}
.logo:hover{
    height:45px ;
}

.contact{

    margin-top: 200px;
    height: 300px;
}



.contact form{
    display: inline-block;
    margin-top: 50px;
    
    font-size: 15px;
    font-family: sans-serif;
    justify-content: center;
    padding: 40px;
    

}

.input{
    background-color: black;
    border:1px solid;
    border-color: grey;
    height: 50px;
    width: 600px;
    
}

#contacthead{
    font-family: sans-serif;
    font-style: bold;
    font-size: 50px;
    margin-left: 70px;
}
